.questionInput{
    width:440px;
    height: 70px;
    resize: none;
    margin-top:5px;
    margin-bottom: 20px;
}

.quizAddButton{
    margin-left: 0px;
}

.formOuter{
background: rgb(240, 238, 238);
display: flex;
justify-content: center;
align-items: center;
height: 700px;
}

.formInner{
background: white;
width:400px;
height: 500px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
border-top-left-radius: 10px;
border-top-right-radius: 10px;

}

.qFormInner{ 
background: white;
width:500px;
height: 600px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
border-top-left-radius: 10px;
border-top-right-radius: 10px;
}

.rFormInner{ 
    background: white;
    width:500px;
    height: 650px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    }
.topForm{
    background:#143363;
    color:white;
    height: 100px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

.newButton{
    background:#143363;
    color:white;
    width:360px;
    margin-top: 30px;
}

.qNewButton{
    background:#143363;
    color:white;
    width:440px;
    margin-top: 20px;
}
.myForm{
    height:400px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
}

.qMyForm{
    height:500px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
}

.rMyForm{
    height:550px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
}


.newForm{
    margin-top:5px;
    margin-bottom: 30px;
    width:360px;
}

.qNewForm{
    margin-top:3px;
    margin-bottom: 20px;
    width:440px;
}

.lNewForm{
    margin-top:3px;
    margin-bottom: 50px;
    width:440px;
}


.diffDiv{
   
    width:360px;
}

.qSelect{
    display: flex;
    flex-direction: column;
    width:440px;
}

.qMySelect{
    width:150px;
    
}

.topMargin{
    margin-top: 20px;
}