.quizButton{
    height: 200px;
    width: 390px;
   
}

.questionDiv{
    
    display: flex;
   justify-content: center;
}

.imageBannerCard{
    height:400px;
}

.imageBanner{
    height: 400px;
    object-fit: cover;
   
}

.upperQuiz{
    margin-left: 10px;
}

.quizQuestion{
    margin-left: 10px;
    margin-top: 10px; 
}

.quizButtonTwo{
    margin-left: 10px;
    margin-top: 10px; 
    margin-bottom: 10px;
}

