.quizButton{
    height: 200px;
    width: 390px;
   
}

.questionDiv{
    
    display: flex;
   justify-content: center;
}

.imageBannerCard{
    height:300px;
}

.imageBanner{
    height: 300px;
    object-fit: cover;
   
}