.myQuiz{
    width:320px;
    display: flex;
    justify-content: center;
    margin: 30px;
}

.quizList{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
   
   
}

.quizDiv{
   
    display: flex;
    justify-content: center;
}

.quizImage{
    height: 180px;
    width:320px;
    border-radius: 5px;
    object-fit: cover;
}

.quizLink{
    text-decoration: none;
}